<apply template="_layout">
  <h1 class="Ff(gidoleRegular) Fw(n)"><a href="/docs/docsIndex" class="C(rgb(136,129,144)) C(#ff5252):h Td(n)">docs</a> <span class="C(#777)"> / </span> <docName/></h1>
  <apply-content/>
</apply>
