/* roboto monospace */
@font-face {
    font-family: 'robotoMonoBold';
    src: url('robotomono-bold-webfont.woff2') format('woff2'),
         url('robotomono-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'robotoMonoRegular';
    src: url('robotomono-regular-webfont.woff2') format('woff2'),
         url('robotomono-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/* roboto */
@font-face {
  font-family: 'robotoRegular';
  src: url('subset-Roboto-Regular.woff2') format('woff2'),
    url('subset-Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoBold';
  src: url('subset-Roboto-Bold.woff2') format('woff2'),
    url('subset-Roboto-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}


/* gidole */
@font-face {
    font-family: 'gidoleRegular';
    src: url('gidole-regular-webfont.woff2') format('woff2'),
         url('gidole-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

